h5 {
	text-decoration: underline;
	font-weight: bold; 
}
hr {
	border: solid;
	border-width: 1px;
	color: #B2B2CC;
}
input {
	margin-bottom: 15px;
}
.welcome {
    margin-top: 80px; 
}
.gray-text {
	color: #B2B2CC;
}
.review-input {
	padding-left: 25%;
}
.review-title {
	padding-left: 25%;
	text-align: center;
}
.review-text {
	padding-left: 12%;
	width: 95%;
}
.center {
	text-align: center;
}
.center form {
	display:inline-block;
}

.invert {
	filter: invert(100%);
}