h5 {
	text-decoration: underline;
	font-weight: bold; 
}
h2, h3 {
	font-weight: bold; 
}

hr {
	border: solid;
	border-width: 1px;
	color: #B2B2CC;
}
.form-control {
	margin-bottom: 15px;
    border: 2px solid #9D9DBD;
    font-weight: bold; 
    color: black;
    border-radius: 0;
}

.btn {
    border: 2px solid #9D9DBD;
    font-weight: bold; 
}
.details-text {
	color: rgb(118, 118, 139);
	font-weight: bold;
}

.input-placeholder {
	color: black;
}

.welcome {
    margin-top: 80px; 
}
.gray-text {
	color: #B2B2CC;
}
.review-input {
	padding-left: 25%;
}
.review-title {
	padding-left: 25%;
	text-align: center;
}
.review-text {
	padding-left: 12%;
	width: 95%;
}
.center {
	text-align: center;
}
.center form {
	display:inline-block;
}

.invert {
	filter: invert(100%);
}

.nightMode {
	color: white;
	background: black;
}